<table>
  <thead>
    <tr>
      <th><%= "#{Spree.t(:monday)} - " %></th>
      <th><%= "#{Spree.t(:thuesday)} - " %></th>
      <th><%= "#{Spree.t(:wendsday)} - " %></th>
      <th><%= "#{Spree.t(:tursday)} - " %></th>
      <th><%= "#{Spree.t(:friday)} - " %></th>
      <th><%= "#{Spree.t(:saturday)} - " %></th>
      <th><%= "#{Spree.t(:sunday)} - " %></th>
    </tr>
  </thead>
  <tbody>
    <%= %>
    <tr>
    </tr>
  </tbody>
</table>
